<div class="jumbotron text-center">
  <h2>{{title}}</h2>
</div>

<form (submit)="postNewItem()">
  <div class="input-group">
    <span class="input-group-addon">New</span>
    <input type="text" class="form-control" [formControl]="newItemFormControl" placeholder="item">
    <span class="input-group-btn">
      <button class="btn btn-info" type="submit">Create</button>
    </span>
  </div>
</form>

<ul class="list-group" style="margin-top: 1.5em">
  <li class="list-group-item" [ngClass]="{'list-group-item-success': item.Finished, 'list-group-item-warning': !item.Finished}" *ngFor="let item of shoppingItems">
    <span [ngClass]="{finished: item.Finished}">
      {{item.ShopItem}}
    </span>
    <a (click)="finishItem(item.id)" type="button">
      <span class="glyphicon glyphicon-ok" style="color: blue"></span>
    </a>
    <a (click)="deleteItem(item.id)" type="button">
      <span class="glyphicon glyphicon-trash" style="color: red; margin-right: 1rem"></span>
    </a>
  </li>

</ul>
