<div class="jumbotron text-center">
  <h2>{{title}}</h2>
</div>

<form (submit)="postNewItem()">
  <div class="input-group">
    <span class="input-group-addon">New</span>
    <input type="text" class="form-control" [formControl]="newItemFormControl" placeholder="item">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">Create</button>
    </span>
  </div>
</form>

<ul class="list-group" style="margin-top: 1.5em">
  <li class="list-group-item"
      [ngClass]="{'list-group-item-success': item.Finished, 'list-group-item-warning': !item.Finished}"
      *ngFor="let item of shoppingItems">
    <span [ngClass]="{finished: item.Finished}">
      {{item.ShopItem}}
    </span>
    <a (click)="deleteItem(item.id)" type="button">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
    <a (click)="finishItem(item.id)" type="button" *ngIf="!item.Finished" style="margin-right: 1rem">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </li>

</ul>
